
/*
 Docs:  https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-button1222s-have-a-strange-hover-effect 
*/

* {
    font-size: 14px;
    border-radius: 5px;
}

* {
   background-color: rgba(13, 36, 61, 0.331);
    color: #e5eaec;
}
window#waybar {
    font-family: FontAwesome, monospace;
    background-color: transparent;
    border-bottom: 0px;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;		
}

.modules-right {
    margin: 10px 10px 0 0;
}
.modules-center {
    margin: 10px 0 0 0;
}
.modules-left {
    margin: 10px 0 0 10px;
}

button {
    border: none;
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
    color: #d79921;
}

#workspaces button.focused {
    background-color: rgba(32, 195, 32, 0.375);
}

#workspaces button.urgent {
    background-color: #e31a56;
}
#custom-power{
    color: #ffffff;

    background: #ef0606;

    padding: 3px 8px;

    border-radius: 4px;
} 
#custom-btop{
    color: #67a313;
    
    padding: 2px 2px;

    border-radius: 50%;
}
#cava,
#scratchpad,
#mode,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#mpris,
#load {
    padding: 0 10px;
    background-color: #282828;
    color: #ebdbb2;
}

#mode {
    background-color: #689d6a;
    color: #282828;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cava {
    padding: 0 5px;
}

#battery.charging, #battery.plugged {
    background-color: #98971a;
    color: #282828;
}

@keyframes blink {
    to {
        background-color: #282828;
        color: #ebdbb2;
    }
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: #458588;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpris.playing {
    background-color: #d79921;
    color: #282828;
}

#tray menu {
    font-family: sans-serif;
}

#scratchpad.empty {
    background: transparent;
}
